<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rewrite_one_part_Arcanabug_v4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="rewrite_one_part_Arcanabug_v4.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <rewrite_one_part_Arcanabug_v4.Properties.Settings>
            <setting name="nameServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="namePort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="nameUid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="namePwd" serializeAs="String">
                <value>root</value>
            </setting>
        </rewrite_one_part_Arcanabug_v4.Properties.Settings>
    </userSettings>
</configuration>